/* This is for index 2 */
/* input[type=text],[type=email],[type=password] {
    border: 1px solid aqua;
    border-radius: 10px;
    background-color: rgb(240, 217, 86);
} */
/* /* This is for index 3 - > */
/* table,
tr,
td {
    border-bottom: 2px solid black;
    border-collapse: collapse;
    direction: rtl;
}

tr:first-child {
    background-color: red;
    border: 1px solid black;
}

tr:nth-child(odd) {
    background-color: rgba(198, 231, 49, 0.466);
}

tr:hover {
    background-color: aqua;
    font-size: 20px;
}  */
/* This is the next exampling */
/* *{
    background-color: aquamarine;
}
.box {
    width: 300px;
    height: 300px;
}

div.green {
    background-color: green;
    float:left;
}

div.white {
    background-color: bisque;
    float:left;
}

div.red {
    float:left;
    background-color: red;
} */
/* 
pre::after {
    content: "< - For Example - >";
    background-color: yellow;
    color: red;
    font-weight: bold;
} */
/* div#outer {
    width: 600px;
    height: 600px;
    background-color: greenyellow;
    overflow: hidden;
    border: 2px solid black;
}

div#inner {
    width: 800px;
    height: 200px;
    background-color: aqua;
} */


